.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__black {
  background-color: #111;
}
.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}
.nav__avatar {
  position: fixed;
  right: 35px;
  width: 30px;
  object-fit: contain;
  margin-top: 10px;
}
.tabbed-primary-navigation {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navigation-tab {
  list-style-type: none;
  margin-left: 20px;
  margin-top: 15px;
  color: white;
}
.navigation-tab a {
  position: relative;
  padding-left: 40px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  cursor: default;
}
.navigation-tab a:hover {
  color: #e5e5e5;
  transition: color 0.4s;
}
.icon {
  list-style-type: none;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  right: 6%;
  top: 5px;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 30px;
  /* margin-right: 20px;
    margin-left:20px */
  /* flex-grow: 1; */
}
.arrow_icon {
  margin-right: -60px;
}
.notification_icon {
  margin-right: 40px;
}
.gift_icon {
  margin: 15px;
}
.icon:hover {
  color: #e5e5e5;
  transition: color 0.4s;
}
